/* Command Palette styles */
:host {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 400px;
    z-index: 10000;
}

x-command-palette .slds-modal__content {
    overflow: visible;
}

x-command-palette .slds-modal {
    z-index: 9060;
}

x-command-palette .slds-scope .slds-modal__content {
    overflow: visible;
}

x-command-palette .modal-container.slds-modal__container {
    max-width: 50rem;
    padding-bottom: 20rem;
}

x-command-palette .command-palette__help-icon {
    align-items: center;
    display: inline-flex;
    font-size: 1.1rem;
    font-weight: 600;
    height: 1.5rem;
    justify-content: center;
    width: 1.5rem;
}
