/* Command Palette styles */
:host {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 400px;
    z-index: 1000000;
}

.slds-modal__content {
    overflow: visible;
}

.slds-scope .slds-modal__content {
    overflow: visible;
}

.modal-container.slds-modal__content {
    max-width: 50rem;
}
